*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: aliceblue;
}

.header_top{
    
    text-align: center;
    width: auto;
    background: white;
}

.logo{
    cursor: pointer;
    font-size: 34px;
}

.logo:hover{
    color: rgb(180, 180, 180);
}


.header_barra{
    border-radius: 10px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-around;
}

.barra{
    display: flex;
    align-items: center;
    gap: 3vw;
    list-style-type: none;
    
}

a{
    padding: 5px;
    text-decoration: none;
    color: black;
}

a:hover{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

a:focus{
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
}

.container_banner{
    display: flex;
    justify-content: center;

}

.imagens_pricipal{
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: auto;
    width: 1000px;
    max-width: 100%;
    max-height: auto;
    background-color: white;
}

.numero{
    font-size: 85px;
}

.palavras{
    font-size: 15px;
    max-width: 100%;
    text-align: center;
}


.imagens_header{ 
    width: 400px;
    height: auto;
    max-width: 100%;
    max-height: auto;
    justify-content: center;
}

.button_saber{
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.button_Deseja_saber{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
}

.button_Deseja_saber:hover{
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
}

.button_Deseja_saber:f{
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
}



.imagens_postes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.pessoas{
    height: auto;
    width: 300px;
    max-height: auto;
    max-width: 35%;
    border-radius: 10px;
}

p{
    max-width: 500px;
}

.container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    max-width: 100%;
    height: auto;
}

.container_imagem1{
    display: flex;
    gap: 1vw;
    border-radius: 10px;
    height: auto;
    width: 740px;
    max-height: auto;
    max-width: 100%;
    background-color: white;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.data_horas{
    padding: 5px;
    color: rgb(153, 153, 153);
    font-size: 13px;
}

.texto{
    font-size: 14px;
    
}






